<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        <h1>Ashley-Ann Ashley</h1>
        <p>To know me is to love me and to love me there are a few random facts you may or may not care to know about me:</p>
        <ul>
            <li>I am a food enthusiast, I <strong>LOVE</strong> food.</li>
            <li>I've recently discovered that web development may be my main area of interest in computing although i haven't really discovered my true passion.</li>
            <li>After taking a semester of French I have decided to continue learning because I've always wanted to learn the language and explore the French culture.
            J'adore le français et je veux beaucoup apprendre.</li>
            <li>Lastly, there's a part of me that has always been really interested in photography and one of these days I'm going to pick up a camera and dive right in.</li>
        </ul>
        <p><em>La fin.</em></p>
    </body>
</html>